$provider_name: "unikname";

#discourse-modal.d-modal.fixed-modal.login-modal,
#discourse-modal.d-modal.fixed-modal.create-account {
  flex-direction: column-reverse;

  .modal-inner-container {
    max-width: 100%;
    max-height: 100vh;
    margin-bottom: 0px;

    // MODAL HEADER
    .modal-header {
      text-align: center;
      top: 0;
      right: 0;
      padding: 1em;
      .title {
        width: 100%;
      }
      position: relative;
      .btn-flat.close {
        position: absolute;
        right: 0.5em;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        border: none;
        &:hover {
          .d-icon {
            color: var(--tertiary);
          }
        }
        .d-icon {
          &:hover {
            color: var(--tertiary);
          }
        }
      }
    }

    // MODAL BODY
    .modal-body {
      flex-direction: column-reverse;
      align-items: normal;

      input,
      .select-kit {
        border-radius: 5px;
        line-height: 2em;
        &:not([type="checkbox"]) {
          margin-top: 0.5em;
          width: 100%;
        }
        &:focus {
          outline: none;
        }
      }

      .btn.btn-social,
      .login-with-email-button {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--primary-low);

        &:hover {
          outline: none;
        }

        &.#{$provider_name} {
          background: var(--tertiary);
          margin-top: 0px !important;
          color: #ffffff;
          &:hover {
            background: var(--tertiary-high) !important;
            color: #ffffff !important;
          }
        }
      }

      #login-buttons {
        border-left: none !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        min-height: 0px;
        width: auto;
        margin-left: 0px;
        border: none;

        .oidc-before {
          margin-bottom: 1em;
          text-align: center;
          padding: 0 1em;
        }

        .oidc-after {
          text-align: center;
          padding: 0.5em 1em 0 1em;
          a.unikname-link {
            color: inherit;
            text-decoration: underline;
            display: block;
          }
        }
        button:first-of-type {
          margin-top: 0px;
        }
      }

      button {
        padding: 0.5em 1em;
        border-radius: 5px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100%;
        &:focus {
          outline: none;
        }
        &.#{$provider_name} {
          background-color: var(--tertiary);
          .oidc-logo {
            margin-right: 0.45em;
          }
        }
        &:last-of-type {
          margin-bottom: inherit !important;
        }
        svg {
          width: 20px;
          height: 20px;
        }
        &.login-email {
          display: none;
        }
        &#login-button {
          background-color: var(--tertiary);
        }
      }

      .login-or {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2em 0px;
        width: 100% !important;
        text-transform: uppercase;

        &:before,
        &:after {
          content: "";
          width: 4em;
          margin: 0 0.5em;
          border-bottom: 2px solid var(--primary);
        }
      }

      &.login-modal-body {
        max-height: inherit !important;

        .login-form-container {
          width: 100%;
          #login-form {
            display: none;
            border-radius: 5px;
            margin: 0rem 1em;
            padding: 1em;
            #credentials {
              padding: 0px;
            }
          }
        }

        .form-login-buttons {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .create-account-body {
      .modal-body {
        .create-account-steps {
          .create-account-step {
            &#accountUsernameStep {
              display: flex;
            }

            p {
              text-align: center;
              margin-bottom: 1em;
            }

            display: none;
            transition: display linear 0.5s;
            flex-direction: column;
            align-items: center;

            .create-account-step-icon {
              margin: 0.5em 0;
              font-size: 4em;
            }

            .input-section {
              width: 100%;
              margin-top: 1em;

              input,
              .select-kit {
                border-radius: 5px;
                line-height: 2em;
                &:not([type="checkbox"]) {
                  margin-top: 0.5em;
                  width: 100%;
                }
              }

              .instructions label {
                font-style: italic;
                opacity: 0.6;
              }
            }
            .user-fields {
              width: 100%;
            }
          }
        }
      }

      .modal-footer {
        border: 0px;
        padding: 0;
        display: none;
        &.forceDisplay {
          display: block;
        }

        #step-indicators {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 1em 0;
          span {
            width: 1em;
            height: 1em;
            margin: 0 0.5em;
            border-radius: 50%;
            background-color: rgba(var(--tertiary-rgb), 0.9);
            &.active {
              background-color: var(--tertiary);
            }
          }
        }

        .buttons {
          padding: 0.5em 1em;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          button {
            outline: none;
            &.btn-primary {
              &,
              &:active {
                background-color: var(--tertiary);
                color: var(--secondary);
              }
            }
            &.submit-btn {
              display: none;
            }
            &.back-btn {
              display: none;
            }
            &.next-btn {
              display: block;
            }
          }
        }
        .sub-footer {
          .disclaimer {
            text-align: center;
            margin-top: 0px;
            padding: 0 0.5em 0.5em 0.5em;
          }
        }
      }
    }

    #new-account-link,
    #login-link {
      width: 100%;
      &:focus {
        outline: none;
      }
      margin-bottom: 0.5em;
    }
  }

  .has-alt-auth {
    min-width: 0;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    background-color: var(--secondary);
  }

  .create-account-body {
    .login-form {
      padding: 1em;
      &:after {
        background-image: none;
      }

      display: none;
      &.forceDisplay {
        display: flex;
      }
      form {
        max-height: none;
      }
    }
  }
  .login-buttons-with-email {
    display: flex;
    flex-direction: column-reverse;
    .login-email {
      padding: 0 1em;
      button {
        padding: 0.5em 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 5px;
        width: 100%;
        // background-color: var(--tertiary);
        // color: var(--secondary);
        svg {
          height: 20px;
        }
      }
    }

    #login-form table {
      width: 100%;
      margin-bottom: 1em;
      tbody {
        border: none;
        tr {
          border-bottom: none;
          td {
            display: block;
          }
        }
      }
    }
  }

  .loading-container {
    position: fixed;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
  }
}

.no-style {
  background-color: transparent;
  &:hover {
    background-color: transparent !important;
  }
}

.mobile-view
  .d-modal.fixed-modal.create-account
  .modal-body
  .login-buttons-with-email {
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  #discourse-modal.d-modal.fixed-modal.login-modal,
  #discourse-modal.d-modal.fixed-modal.create-account {
    .modal-inner-container {
      width: 450px;
      .create-account-body {
        width: 450px !important;
        min-width: 450px !important;
      }
    }
  }
}

@media screen and (max-height: 650px) {
  #discourse-modal.d-modal.create-account .login-form form {
    max-height: inherit;
  }
}
